{% extends '_base.html' %}

{% block content %}

{% if user.is_authenticated %}
<a href="{% url 'add' %}" class="nav-link px-2 link-dark">+ Add</a>
{% endif %}

<!-- have an option for transaction list and transaction month view -->
<a class="navbar-brand" href="{% url 'transactions_month'%}">See Transactions by Month</a>
{% for post in transactions_list %}
<div class="post-entry">
   <!-- make a card -->
   <h2><a href="{% url 'detail' post.pk %}">{{ post.Transaction_Detail }}</a></h2>
   <p>Amount: {{post.Amount}}</p>

   <a class="navbar-brand" href="{% url 'delete' post.pk %}">Delete Transaction</a>
   <a class="navbar-brand" href="{% url 'update' post.pk %}">Update Transaction</a>
</div>
{% endfor %}
{% endblock %}